/* This is an example of how to import a partial scss file*/
@import '_variables';

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(0deg, rgba(254, 254, 254, 0.118), rgba(57, 56, 56, 0.071)),url('https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #F5D7#494249;
    margin: 0px;
  }

  nav {
  background: linear-gradient(0deg, rgba(254, 254, 254, 0.118), rgba(57, 56, 56, 0.071));
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  }
  
  h2 {
    margin: 0;
  }

  .welcome-message {
    background:rgba(180, 148, 232, 0.514);
    color: black;
  }
  .welcome-user {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, #b866f253, #eef3f430);
  color: black;
}
  .calendar {
    background: linear-gradient(0deg, #b866f253, #eef3f430);
    display: flex;
    justify-content: center;
  }

  button {
    background-color: #8a41bd7e;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin:  8px 0;
    border: none;
    cursor: pointer;
  }

  .login-message {
  margin: 0;
  background: linear-gradient(0deg, #b5c6c961, #d3e2e331);
  display: flex;
  justify-content: center;
  }
.userName-passwordSection {
   background: linear-gradient(0deg,  #b39bce53, #eef3f441);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }

  .dashboard {
  background: linear-gradient(0deg,  #d9bef82f, #eef3f441);
  
  // border: 10px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bookings-table {
  background:rgba(180, 148, 232, 0.371);
  font-size: x-large;
  color:  rgb(2, 2, 2)
}

.dashboard, .checkin-board, .filteredRooms{
  background: linear-gradient(0deg,  #d9bef82f, #eef3f441);
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    grid-template-columns: 25% 25% 25% 25%;
}
.bookings, .rooms, .filteredRoomsdiv {
  background: rgba(232, 165, 242, 0.514);
   border: 2px solid rgb(211, 97, 237);
   border-radius: 0.5em;
	font-size: 1em;
 
  padding: 1%;
}
.bookings-table {
  background:rgba(253, 253, 253, 0.63);
  font-size: x-large;
  color:  rgb(9, 8, 8)
}
}

@media (prefers-color-scheme: light) {

  body {
    background: linear-gradient(0deg, rgba(254, 254, 254, 0.029), rgba(57, 56, 56, 0)), url('https://images.unsplash.com/photo-1584132967334-10e028bd69f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #F5D7#494249;
    margin: 0px;
  }

  nav {
    background:linear-gradient(0deg, rgba(254, 254, 254, 0.297), #049aa59f);
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  
  .welcome-message {
    color: #000000f1;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .calendar {
  background: linear-gradient(0deg, #049aa553, #eef3f490);
  display: flex;
  justify-content: center;
  }

  button {
    background-color: #087b83c9;
    color: rgb(10, 10, 10);
    padding: 14px 20px;
    margin:  8px 0;
    border: none;
    cursor: pointer;
  }

  .login-message {
    margin: 0;
    background: linear-gradient(0deg, #9bcbce3a, #eef3f44c);
    display: flex;
    justify-content: center;
  }
  .userName-passwordSection {
    background: linear-gradient(0deg, #94b1b646, #9bcbce45);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }

    .welcome-user {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, #95e7f04d, #8ae0f277);
  color: black;
}

.dashboard, .checkin-board, .filteredRooms{
  background: linear-gradient(0deg,  #d9bef82f, #eef3f441);
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    grid-template-columns: 25% 25% 25% 25%;
}
.bookings, .rooms, .filteredRoomsdiv {
  background: rgba(170, 238, 232, 0.514);
   border: 2px solid rgb(84, 190, 231);
   border-radius: 0.5em;
	font-size: 1em;
 
  padding: 1%;
}
.bookings-table {
  background:rgba(253, 253, 253, 0.63);
  font-size: x-large;
  color:  rgb(9, 8, 8)
}
} 

label {
  font-size: larger;
  color: #000000
}


#checkInBtn {
  cursor: pointer;
}

input[type=text], input[type=password] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#room-types:hover {
  cursor: pointer;
}


.hidden {
  display: none;
}

